<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISLSDesktopService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4567/SLS" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISLSDesktopService" contract="SLSDesktopServiceProxy.ISLSDesktopService"
                name="NetTcpBinding_ISLSDesktopService">
                <identity>
                    <userPrincipalName value="Lukasz-Komputer\Lukasz" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>