<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SLS.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISLSDesktopService"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:4567/SLS" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISLSDesktopService" contract="SLSDesktopServiceProxy.ISLSDesktopService" name="NetTcpBinding_ISLSDesktopService">
                <identity>
                    <userPrincipalName value="Lukasz-Komputer\Lukasz"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>

    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>

    <userSettings>
        <SLS.Desktop.Properties.Settings>
            <setting name="ProjectPath" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="NewsChannel" serializeAs="String">
                <value>http://go.microsoft.com/fwlink/?linkid=84795&amp;clcid=409</value>
            </setting>
            <setting name="ShowStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowMenuItems" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MostRecentlyUsedItems" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UndoLevels" serializeAs="String">
                <value>10</value>
            </setting>
        </SLS.Desktop.Properties.Settings>
    </userSettings>
</configuration>
