<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SLS.WCFService.Service1" behaviorConfiguration="SLSServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1234/SLSMobile"/>
            <add baseAddress="net.tcp://localhost:4567/SLS"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:1234/SLSMobile" binding="basicHttpBinding" contract="SLS.WCFService.IService1"/>
        <endpoint address="net.tcp://localhost:4567/SLS" binding="netTcpBinding" contract="SLS.WCFService.IService1"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SLSServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>